@page "{slug}"
@model LetsGame.Web.Pages.GroupModel

@{
    Layout = "_AuthenticatedLayout";
}

<h1 class="display-4">@Model.Slug</h1>

<form method="post" asp-page-handler="delete"><button type="submit" class="btn btn-danger">Delete this group</button></form>