@page "/group/{slug}/add-game"
@model LetsGame.Web.Pages.Groups.AddGame

@{
    Layout = "_AuthenticatedLayout";
}

<h1 class="display-4">Add game</h1>

<div class="row pb-5">
    <div class="col col-lg-6">
        <form method="post" asp-page-handler="Search">
            <form-group for="SearchText" control-autofocus/>
            <button type="submit" class="btn btn-lg btn-primary">Search</button>
        </form>
    </div>
</div>

@if (Model.Results != null)
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        @foreach (var game in Model.Results)
        {
            <form method="post" asp-page-handler="Add">
                <input type="hidden" asp-for="GameToAdd" value="@game.Id"/>
                
                <div class="col mb-4">
                    <game-card name="@game.Name" image-id="@game.MainImage?.ImageId">
                        <button type="submit" class="btn btn-light stretched-link opacity-0" title="Add @game.Name to the group">Add</button>
                    </game-card>
                </div>
            </form>
        }
    </div>
}