@page "/create-group"
@model LetsGame.Web.Pages.Groups.CreateModel

@{
    Layout = "_AuthenticatedLayout";
}

<h1 class="display-4">Create new group</h1>

<div class="row">
    <div class="col col-lg-6">
        <form method="post">
            <form-group for="GroupName" class="pb-3" control-class="form-control-lg" control-autofocus />
            <form-group for="DisplayName" class="pb-3" control-class="form-control-lg" />
            <button type="submit" class="btn btn-lg btn-primary">Create group</button>
        </form>
    </div>
</div>