@{
    Layout = "/Pages/Shared/_BaseLayout.cshtml";
}

<div class="d-sm-flex flex-nowrap flex-grow-1 flex-wrap">
    <div class="border-right p-3"><partial name="_GroupsPartial" /></div>
    <div class="flex-grow-1 p-3">@RenderBody()</div>
    @RenderSection("Sidebar", required: false)
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}