@using Microsoft.EntityFrameworkCore
@using LetsGame.Web.Extensions
@inject ApplicationDbContext Db
@inject UserManager<AppUser> UserManager

@{
    var userId = UserManager.GetUserId(User);
    var groups = await Db.Memberships
        .Where(x => x.User.Id == userId)
        .Select(x => x.Group)
        .ToListAsync();
}

<div class="game-groups">

    @foreach (var group in groups)
    {
        <a asp-page="/Groups/Group"
           asp-route-slug="@group.Slug"
           class="game-group"
           is-active-class="game-group-active"
           is-inactive-class="game-group-inactive"
           title="@group.Name">
            @group.Name.ToInitials(3)
        </a>
    }

    <a asp-page="/Groups/Create"
       class="game-group add-group"
       is-active-class="game-group-active"
       is-inactive-class="game-group-inactive"
       title="Create a new group">
        ＋
    </a>

</div>