@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext Db
@inject UserManager<AppUser> UserManager

@{
    var userId = UserManager.GetUserId(User);
    var groups = await Db.Memberships
        .Where(x => x.User.Id == userId)
        .Select(x => x.Group)
        .ToListAsync();
}

<div class="game-groups">

    @foreach (var group in groups)
    {
        <avatar 
            name="@group.Name"
            asp-page="/Groups/Group"
            asp-route-slug="@group.Slug"
            is-large="true"
            is-active-class="avatar-active" />
    }

    <avatar
        name="Create a new group"
        asp-page="/Groups/Create"
        is-add="true"
        is-active-class="avatar-active" />

</div>