body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-overlay-dark {
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color ease-in 0.2s;
}
.bg-overlay-dark:hover {
  background-color: rgba(0, 0, 0, 0);
}

.opacity-0 {
  opacity: 0;
}